.delivery {
  padding-top: 40px;
}

.delivery__selected-adress {
  display: flex;
  gap: 8px;
}

.delivery__rating {
  display: flex;
  padding-top: 6px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  gap: 4px;
}

.delivery__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 15px;
}

.delivery__image {
  width: 40px;
  height: 56px;
  border-radius: 8px;
}

.delivery__cost {
  display: flex;
  gap: 7px;
}

.delivery__adress {
  width: 177px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.delivery__data {
  padding-top: 3px;
}

.delivery__text {
  padding-left: 4px;
}

@media (max-width: 700px) {
  .delivery {
    padding-top: 32px;
  }

  .delivery__selected-adress {
    flex-direction: column;
    gap: 0;
  }

  .delivery__info {
    padding-top: 8px;
  }
  .delivery__data {
    padding: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .delivery__rating {
    padding-top: 4px;
  }
  .delivery__cost {
    flex-direction: column;
    display: flex;
    gap: 0px;
  }
}
