.item__warehouse {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #9797af;
  padding-top: 8px;
}

.item__title {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 275px;
}

.item__title_type_absentees {
  width: 309px;
}

.item__store {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #9797af;
}

.item__residue {
  color: #ff3b30;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}

.item__prices {
  width: 110px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
}

.item__price {
  width: 110px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.item__image {
  width: 72px;
  height: 96px;
  border-radius: 8px;
  object-fit: cover;
  margin: 3px 0 0 12px;
}

.item__image_type_absentees {
  margin-left: 0;
}

.item__description {
  padding: 3px 0 0 16px;
  max-width: 543px;
  width: 100%;
}

.item__description_type_absentees {
  max-width: 577px;
}

.item__count {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: #fff;
  width: 100px;
  height: 44px;
}

.item__control {
  width: 100px;
  display: flex;
  gap: 6px;
  flex-direction: column;
  margin: 3px 0 0;
}

.item__control_type_absentees {
  margin: 3px 126px 0 0;
}

.item__c-s {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  gap: 16px;
  padding-top: 7px;
}

.item__buttons {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.item__button-like {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  background-image: url('../../images/like-button.svg');
}

.item__button-delete {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  background-image: url('../../images/basket-button.svg');
}

.item__company {
  display: flex;
  gap: 6px;
  padding-top: 4px;
}

@media (max-width: 700px) {
  .item__image {
    width: 80px;
    height: 106px;
    border-radius: 8px;
    object-fit: cover;
    margin: 3px 0 0 0;
  }
  .item__prices {
    display: none;
  }
  .item__control {
    width: 100%;
    display: flex;
    gap: 6px;
    flex-direction: row;
    margin: 3px 0 0;
    justify-content: space-between;
  }
  .item__title {
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 100%;
    max-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .item__size {
    display: none;
  }
  .item__prices_type_mobile {
    display: flex;
  }
}
