@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/container.css);
@import url(../blocks/header.css);
@import url(../blocks/main.css);
@import url(../blocks/basket.css);
@import url(../blocks/item.css);
@import url(../blocks/label.css);
@import url(../blocks/checkbox.css);
@import url(../blocks/dropdown.css);
@import url(../blocks/accordion.css);
@import url(../blocks/item-price.css);
@import url(../blocks/delivery.css);
@import url(../blocks/delivery.css);
@import url(../blocks/count.css);
@import url(../blocks/data-delivery.css);
@import url(../blocks/count.css);
@import url(../blocks/footer.css);
@import url(../blocks/payment.css);
@import url(../blocks/recipient.css);
p {
  margin: 0;
}

body {
  background: #6725a8;
  font-family: 'Segoe UI', sans-serif;
}

.company-info {
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url('../images/company-info.svg');
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
}

.background {
  border-radius: 16px;
  background: #fff;
  padding: 16px 24px 24px;
}

.background_type_recipient {
  padding: 16px 24px 2px 24px;
}

@media (max-width: 1300px) {
  .background {
    padding: 16px 24px 24px;
  }
}
@media (max-width: 1023px) {
  .background {
    padding: 16px 16px 24px 16px;
  }
  .background_type_recipient {
    padding-bottom: 0;
  }
  .background_type_sidebar {
    background-color: #f6f6fa;
    padding: 0 16px 40px 16px;
  }
}
.purchase-returns {
  display: flex;
  gap: 8px;
  padding-top: 22px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.cost__data {
  width: 177px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.card {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 14px;
}

.card__number {
  padding: 0 13px 0 10px;
}

@media (max-width: 700px) {
  .card {
    padding-top: 8px;
  }
}

.order__button {
  margin-top: 24px;
  height: 44px;
  max-width: 381px;
  width: 100%;
  background-color: #cb11ab;
  border: none;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-radius: 8px;
}

@media (max-width: 1023px) {
  .order__button {
    max-width: 890px;
  }
}

.total__product {
  padding-top: 9px;
  justify-content: space-between;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.total__discount {
  justify-content: space-between;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.total__delivery {
  justify-content: space-between;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.delivery-transfer {
  padding-top: 23px;
}

.delivery-transfer__address {
  padding-top: 5px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.delivery-transfer__date {
  padding-top: 5px;
  color: #cb11ab;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  display: inline;
  border-bottom: 1px dashed rgba(203, 17, 171, 0.2);
}

.basket-total__button {
  display: flex;
  justify-content: space-between;
}

.button__title {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.button__image {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  background-image: url(../images/pencil-button.svg);
}

.purchase-returns_type_absentees {
  margin-top: 17px;
  background-color: #f6f6fa;
  padding: 8px 8px 12px 8px;
  border-radius: 8px;
}

.agreement {
  padding-top: 13px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

.nav__mobile {
  display: none;
}

.check-mark {
  height: 22px;
}

@media (max-width: 700px) {
  .basket-total__button,
  .delivery-transfer__address,
  .delivery-transfer__date,
  .payment__card_type_absentees {
    display: none;
  }

  .total__product {
    padding-top: 8px;
  }
}

@media (max-width: 700px) {
  .purchase-returns {
    padding: 22px 8px 0;
  }

  .purchase-returns_type_absentees,
  .payment__proof {
    background-color: #f0ecf4;
    padding: 8px 8px 12px 8px;
    border-radius: 8px;
  }

  .payment__proof {
  }

  .delivery-transfer {
    padding-top: 1px;
  }
  .nav__mobile {
    background-color: #ffffff;
    height: 56px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 0 13px;
    justify-content: space-between;
    align-items: center;
  }
}

.navbar-pc__notify_type_hidden {
  display: none;
}

.payment__text_type_hidden {
  display: none;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}
.popup__header-box {
  display: flex;
  padding: 16px 24px 13px 24px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
  letter-spacing: -0.2px;
  justify-content: space-between;
  align-items: center;
}

.popup__box {
  max-width: 500px;
  background-color: #fff;
  border-radius: 16px;
}
.popup.open {
  visibility: visible;
  opacity: 1;
}

.popup__label {
  padding: 0 22px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 267px;
  /* height: 100%; */
}

.popup__submit {
  /* padding: 16px 24px 24px 24px; */
  background-color: #cb11ab;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  height: 44px;
  width: 164px;
  border-radius: 8px;
  border: none;
  color: #fff;
  margin: 16px 24px 24px 24px;
}

.popup__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 356px;
  /* width: 100%; */
}

.popup__button {
  background-color: transparent;
  background-image: url(../images/exit-button.svg);
  width: 24px;
  height: 24px;
  border: none;
}

.popup__header {
  margin: 0;
}
